<div class="container h-100">
  <div class="row">
    <div class="col-8 my-5">
      <h1>Welcome, {{ (user | async)?.name }}</h1>
      <div id="signsCompleted">
      <!--<h5>Signs Completed: {{(user | async)?.completed }} / 200</h5>-->
        <!--TODO Remove Later when connected to Firebase-->
        <h5>Signs Completed: 50/ 200</h5>
        <div class="progress">
          <!--TODO Remove Later when connected to Firebase-->
          <!--<div class="progress-bar" role="progressbar" [style.width]="(((user | async)?.completed)/200)*100 + '%'"></div>-->
          <div class="progress-bar" role="progressbar" [style.width]="(50/200)*100 + '%'"></div>
        </div>
      </div>
    </div>
    <div class="col-3 my-5">
      <p>Not you? <br> Click <a routerLink="/login"><strong>here</strong></a> to log out.</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h3>Press enter to begin</h3>
    </div>
  </div>
</div>
