#userIDInput {
  color: #d2476b;
  border: none;
  border-bottom: 3px solid #67D6DB;
  padding: 0;
}

#userIDInput.form-control{
  border-radius: 0.0rem;
}
#userIDInput.form-control:focus {
  color: #d2476b;
  background-color: #fff;
  border-radius: 0.0rem;
  border-bottom: 4px solid #89dbb4;;
  outline: 0;
  box-shadow: none
  //box-shadow: 0px 1px 0px 0px rgba(137, 219, 180, 0.65);
}
