<div class="container h-100">

  <div class="row h-100">
    <div class="col-8 my-auto">
      <h1 class="title">
        {{ 'PAGES.HOME.TITLE' | translate }}
        <br>
        {{ 'PAGES.HOME.SUBTITLE' | translate}}
      </h1>
      <form #myForm="ngForm"  (ngSubmit)="login(myForm)">
        <div class="form-group w-50">
          <label for="userIDInput">Please select your User ID</label>
            <select class="form-control" id="userIDInput" [(ngModel)]="selectedName" name="user">
              <option value="0"></option>
              <option *ngFor="let user of users | async " [value]="user.id">
                {{user.id}}
              </option>
            </select>
        </div>
        <input type="submit" class="btn btn-outline-primary">
      </form>
    </div>
  </div>
</div>
