<div class="container">
  <div *ngIf="showRecording; else elseBlock" class="text-right mt-4">
    <div class="circle animate-flicker"></div>
    <h2 class="ml-2" style="display: inline">Rec</h2>
  </div>
  <ng-template #elseBlock>
    <div class="text-right mt-4">
      <div class="circle inactive"></div>
      <h2 class="ml-2" style="display: inline">Rec</h2>
    </div>
  </ng-template>
</div>
<div class="container fixed-bottom mb-3">
  <div class="row">
    <div class="col-3 pl-0">
      41/200
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [style.width]="(41/200)*100 + '%'"></div>
      </div>
    </div>
    <div class="col-6 text-center">
      <div style="display: inline-block" *ngFor="let response of responses; index as i">
        <div [ngClass]="{'in-progress': response.status === 'in-progress',
                          'completed': currentResponse > i,
                          'incomplete': response.status === 'incomplete',
                          'flagged': response.flagged === true}"></div>
        <button class="btn-outline-danger" *ngIf="currentResponse === 3">X</button>
      </div>
    </div>
    <div class="col-3 ml-auto" style="background-color: grey; height: 10rem;"></div>
  </div>
</div>
