.completed {
  height: 70px;
  width: 70px;
  background-color: #00cbd4;
  border-radius: 50%;
  margin: 1rem;
}

.in-progress {
  height: 70px;
  width: 70px;
  background-color: white;
  border: 8px solid #00cbd4;
  border-radius: 50%;
  margin: 1rem;
}

.incomplete {
  height: 70px;
  width:70px;
  background-color: white;
  border: 8px solid #ababab;
  border-radius: 50%;
  margin: 1rem;
}

.flagged {
  height: 70px;
  width: 70px;
  background-color: #dc3545;
  border: 6px solid #dc3545;
  border-radius: 50%;
  margin: 1rem;
}

// For recording indicator
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
  -webkit-animation: flickerAnimation 2s infinite;
  -moz-animation: flickerAnimation 2s infinite;
  -o-animation: flickerAnimation 2s infinite;
  animation: flickerAnimation 2s infinite;
}

.circle {
  height: 30px;
  width: 30px;
  background-color: #d2476b;
  border: 6px solid #d2476b;
  border-radius: 50%;
  display: inline-block;
}

.circle.inactive {
  background-color: #c5c5c5;
  border: 6px solid #c5c5c5;
}


.flag-btn{
  height: 70px;
  width: 70px;
  font-size: medium;
}

.margin-all-4{
  margin: 4%;
}
.record{
  padding-right: 5%;
}


